::-webkit-scrollbar{ width: 10px; /* 1 - вертикальный скроллбар */}
::-webkit-scrollbar-button {background: #1717177d; height: 15px; /* 2 - кнопка */}
::-webkit-scrollbar-track {background: #8d8c8c1a;/* 3 - трек */}
::-webkit-scrollbar-track-piece { background: #8d8c8c1a; /* 4 – видимая часть трека */ }
::-webkit-scrollbar-thumb {background: #4a4844;/* 5 - ползунок */}

/* Убрать стрелки из полсей input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

:root {
  --vxv_border: 2px solid #ffffff89;
  --vxv_box-shadow: inset 0px 0px 5px #37363689;
  --vxv_top: 62px;
  --vxv_imageres_wihgt: 185px;
  --vxv_wrwpperData_wihgt: 360px;
  --vxv_left: calc(var(--vxv_wrwpperData_wihgt) + var(--vxv_imageres_wihgt) + 0px);


}

html {
  background-color: #e5ff00;
  /* background: #b5b4b478; */
  background: #aca8a8;


}
img {
    height: 60px
}

h1 {
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
    padding: 0 5px;
}

button {
  background: #dddcdc7d;
  background: rgb(178, 177, 177);
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(5, 5, 5, 0.578);
}

button:hover {
  background: #1717177d;
  color: wheat;
}

/* block start ---------------------------------------------------------------------------''' */


.hero {
  /* background-color: rgb(217, 31, 31); */
  border: var(--vxv_border);
  box-sizing: border-box;
  position: relative;


}

header{
  background-color: rgba(174, 125, 101, 1);
  display: flex;
  /* display: none; */

  box-sizing: border-box;
  border: var(--vxv_border);
  box-shadow: 0px 0px 5px #37363689;


  align-items: center;
  padding: 0 10px;
  /* position: sticky; */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

}

.wrapperblock {
  background: #b5b4b4;
  /* background: #09ae27; */
  /* border: var(--vxv_border); */
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  box-sizing: border-box;
  /* overflow: auto; */
  /* height: 100%; */
  position: fixed;
  top: var(--vxv_top);
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: -1;

  
}

.wrwpperData {
  box-sizing: border-box;
  /* flex-basis: 20%; */
  position: fixed;
  /* width: auto; */
  /* width: 320px; */
  width: var(--vxv_wrwpperData_wihgt);
  padding: 5px;
  top: var(--vxv_top);
  left: calc(var(--vxv_imageres_wihgt) + 10px);
  ;

  /* border: 2px solid #ffffff89; */
  /* border: 2px solid #df0b0b; */


}

.container_blockSvay_and_blockSkvajina {
  box-sizing: border-box;
  display: flex;
  height: 530px;
  height: 545px;
  /* width: 100%; */
  /* width: 360px; */

}

.container_blockXarakter {
  box-sizing: border-box;
  min-height: 145px;
  width: 100%;

}

.blockXarakter {
  height: calc(100vh - var(--vxv_top) - 530px - 22px - 15px);
  overflow: auto;
}

.inputData {
  box-sizing: border-box;
  margin: 10px 5px 0px 0px;
  margin: 5px;
  padding: 10px;
  padding: 0px 10px 10px 10px;
  /* border: 2px solid #ffffff89; */
  border: var(--vxv_border);
  box-shadow: var(--vxv_box-shadow);
}


.imageres {
  box-sizing: border-box;
  position: fixed;
  /* top: 0; */

  width: var(--vxv_imageres_wihgt);
  /* background-color: #e5ff00; */
  height: calc(100vh - var(--vxv_top) - 22px);
  /* display: none; */
  left: 5px;
}

.blockOtchet {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: calc(var(--vxv_top) + 10px);
  left: calc(var(--vxv_left) + 10px);
  right: 10px;
  bottom: 12px;
  border: var(--vxv_border);
  box-shadow: var(--vxv_box-shadow);
  overflow: auto;
  padding: 0 10px;
  margin-left: 0 5px;
}

.my-docx-content {
  overflow: auto;
}



/* table start ---------------------------------------------------------------------------''' */

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  vertical-align: middle;
  height: 25px;
  /* border: 2px solid #ccc; */

  
}

.table_1 td:nth-child(1) {
  min-width: 130px;
}


/* table cells start---------------------------------------------------------------------------''' */

table input[type="number"] {
  background: rgb(178, 177, 177);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px rgba(5, 5, 5, 0.578);
  border: 2px solid #ccc;
  min-width: 50px;
  width: 100%;
  height: 24px;
  text-align: center;
}


table label {
  box-sizing: border-box;
}

.CelCentr, .CelCentr2 {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 700;

}

/* .CelCentr {
  font-weight: 700;
}

.CelCentr2 {
  font-weight: 400;
} */


/* table cells End ---------------------------------------------------------------------------''' */

#submit {
  background-color: #8f8c8c48;
  width: 100px;
  height: 30px;
}
#submit:hover {
  background-color: #8f8c8cfe;
}

.geologlabel {
  /* background-color: #fff; */
  display: block;
  text-align: center;
  box-sizing: border-box;
  height: 25px;
  font-weight: 700;
  padding: 5px;
  box-align: center;


}

.geolograxrezimg {
  height: auto;
  width: 100%;
}
/* media ---------------------------------------------------------------------------''' */
